
form, fieldset {
    background-color: dimgray;
    color: whitesmoke;
    padding: 10pt;
    border-radius: 25px;
}
fieldset, label, input, select{
    vertical-align: middle;
    margin: 0px;
    border: none;
    border-radius: 8px;
    padding: 5px;
}
form,fieldset{
    text-align: center;
}

legend{
    text-align: center;
}
button{
    margin: 5px 0px 5px 0px;
    background-color: #3d9f41;
    font-size: 16px;
    color: whitesmoke;
    padding: 12px 28px;
    text-align: center;
    border-radius: 8px;
    border: none;
    
}
button:hover{
    background-color: #27892a; /* Green */
    color: white;
}
label{
    color: whitesmoke;
    font-size: x-large;
}
input,select{
    margin: 5px;
    font-size: 12pt;
}
input:in-range{
    color: black;
}
input:out-of-range{
    color: red;
}